

<form method="POST" action="<%=`/todos/${todo._id}/update?_method=PUT`%>">
    <h2>editing task: <%= todo.title %> </h2>
    <label for="inputName">your changes: </label>
    <input type="text" name="title" value="<%= todo.title %>" placeholder="<%= todo.title %>" autofocus />

    <button class="w3-button w3-white w3-section w3-right" type="submit">
        update
    </button>
</form>
