TODO EDIT

ToDo Data for <%= todo.name %>

<form method="POST" action="<%=`/todos${._id}/update?_method=PUT`%>">

    <label for="toDoTitle">Title</label>
    <input class="w3-input w3-border" type="text" name="title" value="<%= todo.title %>" placeholder="Title"
        autofocus />

    <button class="w3-button w3-white w3-section w3-right" type="submit">
        Update
    </button>
</form>
