LIKE TODO

<form action="/create" method="POST">
    <h2>Create a new task:</h2>
    <label for="inputName">get creative: </label>
    <input type="text" name="title" id="inputToDo" placeholder="create ..." autofocus />

    <button class="w3-button w3-white w3-section w3-right" type="submit">
        SAVE
    </button>
</form>
